<div class="quiz-container">
    <h2>Online Quiz</h2>

    <div class="question">
        <div *ngFor = "let question of questions">
            <p>{{question.questionText}}</p>

            <input type="text" [(ngModel)] = "userAnswers[question.id]"
            placeholder="Enter your answer" name="answer" >    
           
            
            <div *ngIf = "showResults" [ngClass] = "{'incorrect-answer': results[question.id] === 'incorrect'}">
                Result: {{results[question.id]}}</div>

        </div>
    </div>   
    <button (click)="submitAnswers()">Submit</button>

</div>
